
.info-top-inicio{
    display: flex;
    /* background-color: red; */
   
}

.info-top-inicio p{
    padding: 2em 2%;
    width: 60%;
    text-align: justify;
}
.sombra{
    box-shadow: rgba(230, 92, 46, 0.4) 5px 5px, rgba(230, 92, 46, 0.3) 10px 10px, rgba(230, 92, 46, 0.2) 15px 15px, rgba(230, 92, 46, 0.1) 20px 20px, rgba(230, 92, 46, 0.05) 25px 25px;
    width: 20vw;
    height: max-content;
}
.info-top-inicio div img{
    /* height: 100%; */
    width: 100%;
}

.text-carusel{
    color: rgb(255, 255, 255);
    background-color: rgb(230, 92, 46, 0.8);
    box-shadow: 0 0 10px black, 0 10px 20px black, 10px 0 20px black;


}
.carrusel-inicio{
    margin-bottom: 6vh;
}
.Acordion{
    margin-top: 4rem;
    width: 90% !important;
}
.Acordion .Acordion-02{
    width: 100% !important;
    background-color: white;
}

.Acordion-03{
    width: 100% !important;
}