.contenedor-artefacto{
  background-color: rgb(246, 214, 181);
  min-height: 100vh;
}
.title-top{
  width: max-content;
  margin: 2rem auto;
}
.tab-buttons{
  width: 100%;
  display: flex;
  justify-content: center;
}
.tab-buttons button{
  margin: 0 1vw;
} 
.outer{
  margin-top: 2vw;
  margin-bottom: 3vw;
  display: flex;
  justify-content: space-around;
}
.outer div{
  width: 40%;
}
.textarea{
  width: 100% !important;
}
.textarea textarea{
  width: 100%;
  height: 30vh;
  resize: none;
  background-color: rgb(245, 226, 208);
}
.mermaid{
  margin-top: 4vw;
  padding-bottom: 6vw;
}
.text-extendido textarea{
  height: 50vh;
}
/* path.edge {
    stroke: #d03bf5 !important;
  }

  .hola {
    fill: rgb(24, 122, 220) !important;
    stroke: #61d911 !important;
  } */
