.logo-navBar{
    width: 30%;
    margin: 0 auto;
    margin-top: 1%;
    position: relative;
    filter: drop-shadow(0 0 1vw black);
    margin-bottom: 2vw;
}
.logo-navBar img{
    width:  100%;
}
.title-nav{
    font-size: 1.5vw;
    width: max-content;
    margin: 0 auto;
    color: white;
}
.offcanvas{
    background-color: rgb(230, 92, 46) !important;
}
.circle-top{
    position: absolute;
    bottom: 0;
    right: 0;
    border-radius: 50%;
    width: 10vw;
    height: 10vw;
    transform: translate(50%,50%);
    background-color: rgb(255, 255, 255);
}
.circle-main{
    position: absolute;
    bottom: 0;
    right: 0;
    border-radius: 50%;
    width: 8vw;
    height: 8vw;
    transform: translate(50%,50%);
    background-color: rgb(230, 92, 46);
}
.circle-mid{
    position: absolute;
    bottom: 0;
    right: 0;
    border-radius: 50%;
    width: 12vw;
    height: 12vw;
    transform: translate(30%,0%);
    background-color: rgb(253, 253, 253);
}
.circle-mid02{
    position: absolute;
    bottom: 0;
    right: 0;
    border-radius: 50%;
    width: 10vw;
    height: 10vw;
    transform: translate(26%,-10%);
    background-color: rgb(230, 92, 46);
}
.circle-sup{
    position: absolute;
    top: 0;
    z-index: -1;
    right: 0;
    border-radius: 50%;
    width: 32vw;
    height: 32vw;
    transform: translate(50%,-50%);
    background-color: rgb(253, 253, 253);
}
.circle-supmid{
    position: absolute;
    top: 0;
    z-index: -1;
    right: 0;
    border-radius: 50%;
    width: 30vw;
    height: 30vw;
    transform: translate(50%,-50%);
    background-color: rgb(230, 92, 46);
}
.nav-link{
    color: rgb(255, 255, 255) !important;
}
.line01{
    position: absolute;
    width: 100%;
    height: 1vw;
    top: 2vw;
    z-index: -1;
    border-radius: 1vw 0 0 1vw;
    background-color: rgb(255, 255, 255);
}
.line02{
    position: absolute;
    width: 76%;
    height: 1vw;
    top: 5vw;
    right: 0;
    z-index: -1;
    border-radius: 1vw 0 0 1vw;
    background-color: rgb(255, 255, 255);
}
.circle-medio{
    position: absolute;
    bottom: 0;
    right: 0;
    border-radius: 50%;
    width: 12vw;
    height: 12vw;
    transform: translate(-20%,50%);
    background-color: rgb(253, 253, 253);
}
.circle-medio02{
    position: absolute;
    bottom: 0;
    right: 0;
    border-radius: 50%;
    width: 10vw;
    height: 10vw;
    transform: translate(-34%,50%);
    background-color: rgb(230, 92, 46);
}
.option-nav:hover{
    text-shadow:
    1px 1px 10px rgb(255, 255, 255),
    0 0 4em rgb(255, 140, 0),
    0 0 0.8em rgb(0, 255, 191);
}
.option-nav .option-line01{
    position: fixed;
    height: 8px;
    width: 18rem;
    right: 0;
    border-radius: 1rem 0 0 1rem;
    transform: translateY(-1rem);
    background-color: rgb(255, 255, 255);
    clip-path: circle(2% at right center);
    transition: clip-path .4s ease;
}
.option-nav .option-line02{
    position: fixed;
    height: 8px;
    width: 14rem;
    right: 0;
    border-radius: 1rem 0 0 1rem;
    transform: translateY(-1rem);
    background-color: rgb(255, 255, 255);
    clip-path: circle(2% at right center);
    transition: clip-path .4s ease;
}
.option-nav:hover .option-line01,.option-nav:hover .option-line02{
    clip-path: circle(100%)
}